@model IEnumerable<Diary.Entities.DTOs.Account.UserViewDTO>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/userCard.css" rel="stylesheet" />
<link href="~/css/social.css" rel="stylesheet" />

<div class="card-columns">
	@foreach (var item in Model)
	{
		<div class="card card-chart mt-5 mr-5" style="width: 500px;">
			<div class="card-header card-header-warning card-header-icon">
				<div class="row" style="height: 10em;">
					<div class="col-4">
						<div class="row">
							<div class="col">
								<div class="card-profile ">
									<div class="card-avatar">
										<img src="~/assets/img/faces/card-profile1-square.jpg" />
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-2 text-center control-buttons ">
							<div class="col text-center">
								<a asp-action="Update" asp-controller="Account" asp-route-id="@item.Id">
									<img src="~/assets/img/edit-white-24dp.svg" />
								</a>
							</div>
							<div class="col text-center">
								<form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.Id" onsubmit=" return jQueryAjaxDelete(this);">
									<div class="ed-del-buttons">
										<button type="submit">
											<img src="~/assets/img/delete-white-24dp.svg" />
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">
					User name:
					<small>@item.UserName</small>
				</h4>
				<h4 class="card-title">
					Email:
					<small>@item.Email</small>
				</h4>
				<h4 class="card-title">
					Role:
					<small>@item.RoleName</small>
				</h4>
			</div>
		</div>
	}
</div>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/js/site.js"></script>